{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!-- flash 오류 -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <!-- 게시글 -->
    <h2 class="border-bottom py-2">{{ post.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ post.content }}</div>
            <div class="d-flex justify-content-end">
                {% if post.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div>{{ post.modify_date|datetime }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ post.user.userid }}</div>
                    <div>{{ post.create_date|datetime }}</div>
                </div>
                <!-- 수정 -->
                <div class="my-3">
                    {% if g.user == post.user %}
                    <a href="{{ url_for('post.modify', post_id=post.id) }}" 
                    class="btn btn-sm btn-outline-secondary">수정</a>
                    <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                    data-uri="{{ url_for('post.delete', post_id=post.id) }}">삭제</a>
                    <!-- data-uri속성은 js에서 클릭 이벤트 발생시 
                        this.dateaset.uri를 사용하여 값을 얻을 수 있다 -->
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
    <br/>
    <!-- 댓글 -->
    <h5 class="border-bottom my-3 py-2">{{ post.comment_set|length }}개의 댓글이 있습니다.</h5>
    {% for comment in post.comment_set %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ comment.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    {% if comment.modify_date %}
                    <div class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div>{{ comment.modify_date|datetime }}</div>
                    </div>
                    {% endif %}
                    <div class="mb-2">{{ comment.user.userid }}</div>
                    <div>{{ comment.create_date|datetime }}</div>
                </div>

                <div class="my-3">
                    <!-- 댓글 수정 -->
                    {% if g.user == post.user %}
                    <a href="{{ url_for('comment.modify', comment_id=comment.id) }}" class="btn btn-sm btn-outline-secondary">수정</a>
                    {% endif %}
                    <!-- 댓글 삭제 -->
                    <a href="#" class="delete btn btn-sm btn-outline-secondary "
                    data-uri="{{ url_for('comment.delete', comment_id=comment.id) }}">삭제</a>
                </div>
            </div>
            
        </div>
        
    </div>
    {% endfor %}
    <!-- 댓글 등록 -->
    <form action="{{ url_for('comment.create', post_id=post.id) }}" method="post" class="my-3">
        {{ form.csrf_token }}
        <div class="mb-3">
            <textarea {% if not g.user %}disabled{% endif %}
                        name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="댓글등록" class="btn btn-primary">
    </form>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}